In [1]:
expenses = [1200,1900,2100,1700,2300]

In [2]:
total = expenses[0]+expenses[1]+expenses[2]+expenses[3]+expenses[4]

In [3]:
total

9200

## Here we have small list of values so we can add them indivdually by their index. what if it has big list 

## Introduce for loop to perform such type of operations

In [4]:
for Expenses in expenses:
    print(Expenses)

1200
1900
2100
1700
2300

In [5]:
total_expenses =0

for Expenses in expenses:
    total_expenses = total_expenses + Expenses

print(total_expenses)

9200

## Range function is used to get series for given numbers

In [6]:
for i in range(0,21):
    print(i*2)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [7]:
range(0,5)
list(range(0,5))

[0, 1, 2, 3, 4]

In [8]:
for i in range(len(expenses)):
    print(i)
    print(expenses[i])

0
1200
1
1900
2
2100
3
1700
4
2300

In [9]:
total_expenses=0

for i in range(len(expenses)):
    expense = expenses[i]
    print(f'Month{i+1},Expenses:{expense}')
    total_expenses+= expense


print("total expenses: ", total_expenses)

Month1,Expenses:1200
Month2,Expenses:1900
Month3,Expenses:2100
Month4,Expenses:1700
Month5,Expenses:2300
total expenses:  9200

## using enumerate function (same like range function)

In [10]:
total_expenses = 0

for i,exp in enumerate(expenses):
    print(f'Month{i+1}, Expenses:{exp}')
    total_expenses += exp 
    
print("total expenses:",total_expenses)

Month1, Expenses:1200
Month2, Expenses:1900
Month3, Expenses:2100
Month4, Expenses:1700
Month5, Expenses:2300
total expenses: 9200

## finding the month where expenses are more than 2000

In [11]:
for i, exp in enumerate(expenses):
    if exp > 2000:
        print(f'month{i+1} has expense >2000')

month3 has expense >2000
month5 has expense >2000

## Break function to stop the for loop and display the output 

@@ we are looking for the first month only where expenses more than 2000 and then stop the searching

In [12]:
for i, exp in enumerate(expenses):
    if exp > 2000:
        print(f'month{i+1} has expense >2000')
        break

month3 has expense >2000

### Looking for other examples

In [13]:
locations = ["sofa","garage","chair","table","closet"]

key_location = "chair"

for location in locations:
    if location== key_location:
        print("key is found at ", location)
        break
    else:
        print("key is not found at",location)

key is not found at sofa
key is not found at garage
key is found at  chair

In [14]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

## printing odd number

In [15]:
for i in range(1,11):
    if i%2 ==1:
        print(i)

1
3
5
7
9

## continue function: when we use continue in the for loop it won't perform whatever after continue statment

In [16]:
for i in range(1,11):
    if i %2== 0:
        continue
    print(i)

1
3
5
7
9

# while loop

In [17]:
n=0

while(n<=10):
    print(n)
    n +=1 ## this should be must to stop iteriations

0
1
2
3
4
5
6
7
8
9
10

In [18]:
n=1

while n in range(1,11):
    if n%2==0:
        print(n)
    n+=1

2
4
6
8
10

In [19]:
for l in 'skillBasics':
    if l =='i':
        continue
    print(l,end='')

skllBascs

In [20]:
for n in range(1,-6,-2):
    print(n,end=', ')

1, -1, -3, -5,

In [21]:
X=-1

while X <=99:
   X +=2
print(X)

101

## for_while_loop_Exercises


Write a Python program to print the following pattern.

1 2 3 4 5

1 2 3 4 

1 2 3

1 2

1

In [22]:
for i in range (5,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## using while loop to get above output

In [23]:
i=5 
while i>0:
    j=1
    while j<=i:
        print(j,end=" ")
        j +=1 
    print()
    i -=1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

Q.2. Write a Python program to find the sum of all the numbers except odd numbers between 1 and 20 using a loop. Can you also do this using a while loop?

# using for_loop

In [36]:
# Initialize the sum
total_sum = 0

# Loop through numbers from 1 to 20
for num in range(1, 21):
    # Check if the number is even
    if num % 2 == 0:
        # Add the even number to the total sum
        total_sum += num

print("The sum of all even numbers between 1 and 20 is:", total_sum)

The sum of all even numbers between 1 and 20 is: 110

In [57]:
# using for loop

sum_ = 0
for num in range(1, 21):
    if num % 2 != 0:
        continue
    else:
        sum_ = sum_ + num

In [58]:
print(sum_)

110

# using while_loop

In [37]:

# Initialize the sum
total_sum = 0

# Initialize the starting number
num = 1

# Loop while the number is less than or equal to 20
while num <= 20:
    # Check if the number is even
    if num % 2 == 0:
        # Add the even number to the total sum
        total_sum += num
    # Move to the next number
    num += 1

print("The sum of all even numbers between 1 and 20 is:", total_sum)

The sum of all even numbers between 1 and 20 is: 110

Q.3 After throwing the dice several times, you got this result,

dice_result  = [5,6,4,2,5,4,4,5,3,3,2,6,1,2,1,1,6,5]
Using a for loop find out the followings:


How many times have you got 6s


How many times have you got 1s


How many times have you got 6s two times in a row

In [38]:
dice_result = [5,6,4,2,5,4,4,5,3,3,2,6,1,2,1,1,6,5]

In [39]:
dice_result

[5, 6, 4, 2, 5, 4, 4, 5, 3, 3, 2, 6, 1, 2, 1, 1, 6, 5]

In [42]:
type(dice_result)

list

In [59]:
sixes = 0
for n in dice_result:
    if n==6:
        sixes += 1

print(sixes)

3

In [44]:
# How many times have you got 6s >> Specifying index of 6 in the dice_Result
# Element to find
element_to_find = 6 

# List to store the index positions
index_positions = []

# Loop through the list
for index in range(len(dice_result)):
    if dice_result[index] == element_to_find:
        index_positions.append(index)

print(f"The element {element_to_find} is found at positions: {index_positions}")

The element 6 is found at positions: [1, 11, 16]

In [46]:
# How many times have you got 6s


# Element to find
element_to_find = 6 

# Counter for occurrences
count = 0

# Loop through the list
for element in dice_result:
    if element == element_to_find:
        count += 1

print(f"The element {element_to_find} occurs {count} times in the list.")

The element 6 occurs 3 times in the list.

How many times have you got 1s

In [60]:
ones = 0
for n in dice_result:
    if n==1:
        ones += 1

print(ones)

3

In [47]:
# Element to find
element_to_find = 1 

# Counter for occurrences
count = 0

# Loop through the list
for element in dice_result:
    if element == element_to_find:
        count += 1

print(f"The element {element_to_find} occurs {count} times in the list.")

The element 1 occurs 3 times in the list.

How many times have you got 6s two times in a row

In [61]:
two_6s = 0
l = len(dice_result)

for i in range(l - 1):
    if dice_result[i] == 6 and dice_result[i+1] == 6:
        two_6s += 1

print(two_6s)

0

In [48]:
# Element to find
element_to_find = [6,6]

# Counter for occurrences
count = 0

# Loop through the list
for element in dice_result:
    if element == element_to_find:
        count += 1

print(f"The element {element_to_find} occurs {count} times in the list.")

The element [6, 6] occurs 0 times in the list.

Q.4.Let's say you are doing push-ups and you have to complete 50 push-ups daily, write a program that,


Upon completing 10 push-ups in a go, asks you, “Are you tired?”


If you reply “yes” or “y” then it should break and print “You did total push-ups.”


For example: If you did only 30  push-ups and answered “yes” to your program. It will break the loop and print “You did a total of 30 push-ups**”**


If you reply “no” or “n” then it should continue and display how many push-ups are remaining  now after that ask you again “Are you tired?”


For Example: if you answered “no” then it should display that 20 push-ups are remaining and ask you again “Are you tired?”


If you complete all 50 push-ups, then it should print the “Congratulations! You made it” and stopped the program.

In [56]:
# Initialize the total number of push-ups to complete
total_push_ups = 50

# Initialize the count of completed push-ups
completed_push_ups = 0

while completed_push_ups < total_push_ups:
    # Increment push-ups by 10 in each iteration
    completed_push_ups += 10
    print(f"You have done {completed_push_ups} push-ups.")

    # Check if the current count of push-ups is a multiple of 10
    if completed_push_ups % 10 == 0 and completed_push_ups < total_push_ups:
        n = input("Are you tired? (yes/no) ").strip().lower()
        if n in ['yes', 'y']:
            break
        elif n in ['no', 'n']:
            remaining_push_ups = total_push_ups - completed_push_ups
            print(f"{remaining_push_ups} push-ups are remaining.")
        else:
            print("Invalid input. Please answer with 'yes' or 'no'.")

# Check if all push-ups are completed
if completed_push_ups >= total_push_ups:
    print("Congratulations! You made it.")
else:
    print(f"You did a total of {completed_push_ups} push-ups.")

You have done 10 push-ups.
Are you tired? (yes/no) no
40 push-ups are remaining.
You have done 20 push-ups.
Are you tired? (yes/no) no
30 push-ups are remaining.
You have done 30 push-ups.
Are you tired? (yes/no) no
20 push-ups are remaining.
You have done 40 push-ups.
Are you tired? (yes/no) no
10 push-ups are remaining.
You have done 50 push-ups.
Congratulations! You made it.

In [62]:
pushups = 0
answer = ""
while True:
    print("Doing push up.")
    pushups += 1
    if pushups == 50:
        print("Congratulations! You made it")
        break

    elif pushups%10 ==0:
        answer = input("Are you tired? (yes/no)")
        if answer[0].lower() == 'y':
            break
        else:
            print(f"{50-pushups} push-ups are remaining today.")



print(f"You did total {pushups} Push-ups today.")

Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Are you tired? (yes/no)no
40 push-ups are remaining today.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Are you tired? (yes/no)no
30 push-ups are remaining today.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Doing push up.
Are you tired? (yes/no)yes
You did total 30 Push-ups today.